<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Components</title>
    </head>
    <body>
        <div th:fragment="course-navbar">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" th:href="@{/mycourses}">Tavoitemittari</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a th:href="@{/mycourses}" id="mycourses">Minun kurssini</a></li>
                            <li><a th:href="@{/userdetails}" id="userdetails">Omat tiedot</a></li>
                            <li sec:authorize="hasRole('teacher')"><a th:href="@{/course}" id="hdd-a">Kurssit</a></li>
                            <li sec:authorize="hasRole('teacher')"><a th:href="@{/student}" id="hdd-b">Oppilaat</a></li>
                            <li sec:authorize="hasRole('admin')"><a th:href="@{/admin/passwords}" id="passwords">Salasanat</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" onclick="document.forms['logout'].submit();">Kirjaudu ulos</a></li>
                        </ul>
                        <form name="logout" action="#" th:action="@{/logout}" method="post">
                            <input type="hidden" value="Sign Out"/>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>
