.progress{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    transform: rotate(-90deg);
}

.center-block{
    float: none;
}
.checkbox-inline{
    float: right;
}

.btn-teacher {
    color: #FFFFFF;
    background-color: #259C1F;
    border-color: #259C1F;
}

.btn-student {
    color: #FFFFFF;
    background-color: #84DBB7;
    border-color: #84DBB7;
}