<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Luo uusi kurssi</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/general.css"/>
        <link rel="stylesheet" type="text/css" href="/css/course-panel.css"/>
        <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
        
        
       
        <script src="/js/init.js"></script>
       <script src="/js/jquery.min.js"></script>
   
    <script src="/js/dynamicform.js"></script>
      <script src="/js/bootstrap.js"></script>
    
   

</head>
    <body>
        
       
            <div th:replace="fragments/components :: course-navbar">navbar</div>

            <div class="container">
              
              
                    <form th:action="@{/course}"  method="post">
                        
            
                   
                    <hr></hr>
                 
                     <b>Kurssin nimi:</b>
                     <input type="text" name="name" class="form-control" id="name"/>
                    
                    <br></br>
                    
                    
                    <b>Kurssin kuvaus:</b>
                    <textarea name="description" class="form-control" id="description"/>
                   
                    <br></br>
                    <b>Asteikko 9-10</b>
                    <br></br>
                    
                   
                    
                     <div class="goalsWrap1">
                    
                    
                   
                       <br></br>

                    
                      </div>
                      <button  type="button" class="btn btn-default" id="addGoal1">Lisää Tavoite</button>  
                      <button type="button" class="btn btn-default" id="removeGoal1">Vähennä Tavoitteita</button>
                    <hr></hr>
                    
                     <br></br>
                    <b>Asteikko 7-8</b>
                    <br></br>
                    
                   
                    
                     <div class="goalsWrap2">
                    
                    
                   
                       <br></br>

                    
                      </div>
                      <button  type="button" class="btn btn-default" id="addGoal2">Lisää Tavoite</button>  
                      <button type="button" class="btn btn-default" id="removeGoal2">Vähennä Tavoitteita</button>
                    <hr></hr>
                    
                    
                     <br></br>
                    <b>Asteikko 5-6</b>
                    <br></br>
                    
                   
                    
                     <div class="goalsWrap3">
                    
                    
                   
                       <br></br>

                    
                      </div>
                      <button  type="button" class="btn btn-default" id="addGoal3">Lisää Tavoite</button>  
                      <button type="button" class="btn btn-default" id="removeGoal3">Vähennä Tavoitteita</button>
                    <hr></hr>
                     
                    
                    
                  
                
        
                        
                    <button class="btn btn-primary btn-lg center-block" type="submit">Lisää kurssi</button>

    
                        </form>
                
                </div>
            
</body>
</html>
 
