<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Luo uusi kurssi</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/course-panel.css"/>
    <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->



    <script src="/js/jquery.min.js"></script>

    <script src="/js/dynamicform.js"></script>
    <script src="/js/bootstrap.js"></script>



</head>
<body>
<script type="text/javascript" th:inline="javascript">

 
    updateCourseAsJson=[[${updateCourseAsJson}]];
    invalidCourseAsJson=[[${invalidCourseAsJson}]];
</script>


<div th:replace="fragments/components :: course-navbar">navbar</div>

<div class="container">
    <ul class="nav nav-tabs" id="courseCommentTab">
        <li class="active"><a data-toggle="tab" href="" name="updatetab"  id="GetNewCourseTab" >Luo uusi kurssi</a></li>
        <li><a data-toggle="tab" href="#owncourses" name="updatetab">Omat kurssit</a></li>
        <li><a data-toggle="tab" href="#update" name="updatetab">Muokkaa kurssia</a></li>
    </ul>
    <div class="tab-content">

        <div id="new" class="tab-pane fade in active">
            <div th:object="${course}">
                <ul th:if="${#fields.hasErrors('*')}">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
            
            <div th:if="${creationSuccessMessage != null}">
                  <hr></hr>
                    <div class="alert alert-success" role="alert" th:text="${creationSuccessMessage}">.</div>
                </div>
            
            <div th:if="${updateCourseAsJson == null}">
                <form th:action="@{/course}"  method="post">

                    <input type="hidden" name="gradeLevels[0].grade" id="gradeLevels[0].grade" value="9-10"/>
                    <input type="hidden" name="gradeLevels[1].grade" id="gradeLevels[1].grade" value="7-8"/>
                    <input type="hidden" name="gradeLevels[2].grade" id="gradeLevels[2].grade" value="5-6"/>

                    <hr></hr>

                    <b>Kurssin nimi:</b>
                    <input type="text" required="required" maxlength="255" name="name" class="form-control" id="name"/>

                    <br></br>


                    <b>Kurssin kuvaus:</b>
                    <textarea name="description" required="required" maxlength="255" class="form-control" id="description"/>

                    <br></br>
                    <b>Asteikko 9-10</b>
                    <br></br>



                    <div class="goalsWrap0">



                        <br></br>


                    </div>
                    <button  type="button" class="btn btn-default" id="addGoal0">Lisää Tavoite</button>
                    <button type="button" class="btn btn-default" id="removeGoal0">Vähennä Tavoitteita</button>
                    <hr></hr>

                    <br></br>
                    <b>Asteikko 7-8</b>
                    <br></br>



                    <div class="goalsWrap1">



                        <br></br>


                    </div>
                    <button  type="button" class="btn btn-default" id="addGoal1">Lisää Tavoite</button>
                    <button type="button" class="btn btn-default" id="removeGoal1">Vähennä Tavoitteita</button>
                    <hr></hr>


                    <br></br>
                    <b>Asteikko 5-6</b>
                    <br></br>



                    <div class="goalsWrap2">



                        <br></br>


                    </div>
                    <button  type="button" class="btn btn-default" id="addGoal2">Lisää Tavoite</button>
                    <button type="button" class="btn btn-default" id="removeGoal2">Vähennä Tavoitteita</button>
                    <hr></hr>







                    <button class="btn btn-primary btn-lg center-block" type="submit">Lisää kurssi</button>


                </form></div>
            <br/>

        </div>
        
         <div id="owncourses" class="tab-pane fade">
        
            
                      
       
             <br></br>
      <div th:if="${deleteSuccessMessage != null}">
                   <hr></hr>
                    <div class="alert alert-success" role="alert" th:text="${deleteSuccessMessage}">.</div>
                    <hr></hr>
        </div>
             
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span>Julkaisettomat kurssit</span></h3>
            </div>
            <div class="panel-body">
                  
               
                
                
                <table id="CoursesNotInUse" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Kurssin nimi:</th>
                        <th>Julkaise:</th>
                        <th>Muokkaa:</th>
                        <th>Poista:</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="course : ${coursesNotInUse}">
                        <td th:text="${course.name}"> </td>
                        <td>  <form th:method="put" th:action="'/course/'+${course.id}+'/publish'">
                               <button class="btn btn-primary" type="submit" name="remove">Julkaise</button>
                              </form>  
                        </td>
  

                        <td> <a th:href="'/course/'+${course.id}+'/update'" class="btn btn-success" >Muokkaa</a></td>      

                        <td> <a th:href="'#'+${course.id}" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#'+${course.id}">Poista</a>      
                        </td>
                        
                        
                                           
                       <div th:id="${course.id}" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                               <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                 <h4 class="modal-title">Vahvistus</h4>
                               </div>
                                <div class="modal-body">
                                    <p>Halutatko varmasti poistaa valitsemasi kurssin <b th:text="${course.name}">nimi</b>?</p>
                                  <p class="text-warning"><small>Jos poistat kurssit menetät kaikki kyseiseen kurssiin liittyvät tiedot.</small></p>
                               </div>
                                <div class="modal-footer">
                                   <form th:method="delete" th:action="'/course/'+${course.id}+'/delete'">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Peruuta</button>
                                    <button class="btn btn-danger" type="submit" name="remove">Poista</button>
                                   </form>          
                                 </div>
                                </div>
                              </div>
                         </div>
                        
                        
                    </tr>
                    </tbody>
                </table>
                
                
  
   
            </div>
        </div>
             <br></br>
         <div class="panel panel-primary">    
            
            <div class="panel-heading">
                <h3 class="panel-title"><span>Käytössä olevat kurssit</span></h3>
            </div>
            
            
             <div class="panel-body">
                  
              
                
                
                <table id="CoursesInUse" class="table table-striped">
                    <thead>
                    <tr>
                    <th>Kurssin nimi:</th>
                        <th>Julkaise:</th>
                        <th>Muokkaa:</th>
                        <th>Poista:</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="course : ${coursesInUse}">
                         <td th:text="${course.name}"> </td>
                        <td> <button class="btn btn-primary disabled" >Julkaise</button>                  
                       </td>
  

                        <td> <button class="btn btn-success disabled" >Muokkaa</button></td>      

                        <td> <a th:href="'#'+${course.id}" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#'+${course.id}">Poista</a>      
                        </td>
                        
                        
                                           
                       <div th:id="${course.id}" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                               <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                 <h4 class="modal-title">Vahvistus</h4>
                               </div>
                                <div class="modal-body">
                                    <p>Halutatko varmasti poistaa valitsemasi kurssin <b th:text="${course.name}">nimi</b>?</p>
                                  <p class="text-warning"><small>Jos poistat kurssit menetät kaikki kyseiseen kurssiin liittyvät tiedot.</small></p>
                               </div>
                                <div class="modal-footer">
                                   <form th:method="delete" th:action="'/course/'+${course.id}+'/delete'">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Peruuta</button>
                                    <button class="btn btn-danger" type="submit" name="remove">Poista</button>
                                   </form>          
                                 </div>
                                </div>
                              </div>
                         </div>
                        
                        
                    </tr>
                    </tbody>
                </table>
                
                
  
   
             </div>
            
           </div>
          
                            
    
    
 
                        
               
                
        </div>

        <div id="update" class="tab-pane fade">
            <div class="container">
                <hr></hr>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="courses"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Valitse kurssi
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="courses">
                        <li th:each="oldCourse : ${coursesNotInUse}"><a th:href="'/course/'+${oldCourse.id}+'/update'" th:text="${oldCourse.name}">Kurssi1</a></li>
                    </ul>
                </div>

                <div th:if="${notEmptyMessage != null}">
                    <br/>
                    <div class="alert alert-danger" role="alert" th:text="${notEmptyMessage}">.</div>
                </div>


                <div th:if="${updateCourseAsJson != null}">
                  <div th:object="${course}">
                  <ul th:if="${#fields.hasErrors('*')}">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                  </ul>
                 </div>
                    
                    
                    <form th:action="@{'/course/'+${updateCourse.id}+'/update'}"  method="post">

                        <input type="hidden" name="gradeLevels[0].grade" id="gradeLevels[0].grade" value="9-10"/>
                        <input type="hidden" name="gradeLevels[1].grade" id="gradeLevels[1].grade" value="7-8"/>
                        <input type="hidden" name="gradeLevels[2].grade" id="gradeLevels[2].grade" value="5-6"/>

                        <hr></hr>

                        <b>Kurssin nimi:</b>
                        <input type="text" required="required" maxlength="255" name="name" class="form-control" id="name"/>

                        <br></br>


                        <b>Kurssin kuvaus:</b>
                        <textarea name="description" required="required" maxlength="255" class="form-control" id="description"/>

                        <br></br>
                        <b>Asteikko 9-10</b>
                        <br></br>



                        <div class="goalsWrap0">



                            <br></br>


                        </div>
                        <button  type="button" class="btn btn-default" id="addGoal0">Lisää Tavoite</button>
                        <button type="button" class="btn btn-default" id="removeGoal0">Vähennä Tavoitteita</button>
                        <hr></hr>

                        <br></br>
                        <b>Asteikko 7-8</b>
                        <br></br>



                        <div class="goalsWrap1">



                            <br></br>


                        </div>
                        <button  type="button" class="btn btn-default" id="addGoal1">Lisää Tavoite</button>
                        <button type="button" class="btn btn-default" id="removeGoal1">Vähennä Tavoitteita</button>
                        <hr></hr>


                        <br></br>
                        <b>Asteikko 5-6</b>
                        <br></br>



                        <div class="goalsWrap2">



                            <br></br>


                        </div>
                        <button  type="button" class="btn btn-default" id="addGoal2">Lisää Tavoite</button>
                        <button type="button" class="btn btn-default" id="removeGoal2">Vähennä Tavoitteita</button>
                        <hr></hr>

                        <div class="container text-center">
                            <a th:href="@{/course}" class="btn btn-default btn-lg" name="cancel">Peruuta</a>
                            <button class="btn btn-primary btn-lg" type="submit">Tallenna muutokset</button>
                        </div>
                    </form></div>


                <div th:if="${updateSuccessMessage != null}">
                    <div class="alert alert-success" role="alert" th:text="${updateSuccessMessage}">.</div>
                </div>

            </div>
            <br/>
        </div>
    </div>
    <!--http://stackoverflow.com/questions/18999501/bootstrap-3-keep-selected-tab-on-page-refresh-->
    <script>
        $(document).ready(function() {
            
            $('#GetNewCourseTab').click(function() {

	        window.location.href = '/course';

	    });
               
            if(location.hash) {
                $('a[href=' + location.hash + ']').tab('show');
            }
            $(document.body).on("click", "a[data-toggle]", function(event) {
                location.hash = this.getAttribute("href");
            });
        });
        $(window).on('popstate', function() {
            var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
            $('a[href=' + anchor + ']').tab('show');
        });
    </script>

</div>
</body>
</html>

