<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/narrow.css"/>
        <title>Tavoitemittari</title>
    </head>

    <body>
        <div class="container">
            <div>
                <h1 class="text-center">Uusi kurssi</h1>
                <br/>
                <form method="post">
                    <div class="form-group">
                        <label for="text">Kurssin nimi</label>
                        <input type="text" name="name" class="form-control" id="name"/>
                    </div>  
                </form>

            </div>
        </div>
    </body></html>