<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Update password</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/general.css"/>
        <link rel="stylesheet" type="text/css" href="/css/course-panel.css"/>
        <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
        <script src="/js/bootstrap.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.dropotron.min.js"></script>
    </head>
    <body>
        <div th:replace="fragments/components :: course-navbar">navbar</div>







        <div class="row  center-block col-xs-24 col-sm-10 col-md-8 col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> <span>Päivitä käyttäjän salasana</span></h3>
                </div>
                <div th:if="${message != null}">
                    <div class="alert alert-success" role="alert">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span th:text="${message}"> Sent successfully. </span>
                    </div>
                </div>
                <form th:action="@{'/admin/password/update/' + ${user.id}}" method="post">
                    <div class="panel-body"><div th:if="${user != null}">
                            <p>Nimi: <b  th:if="${user != null}" th:text="${user.name}"> user name</b> </p>
                            <p>Sähköposti: <b th:if="${user != null}" th:text="${user.email}">user email </b> </p>
                            <p>Rooli: <b  th:if="${user != null}" th:text="${user.userRole}"> user role</b> </p><br></br><br></br> </div>
                            <br></br>

                        <div class="form-group">
                            <label for="password">Uusi salasana:</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Salasana"/>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-success" type="submit">Vaihda salasana</button>

                    </div>
                </form>

            </div>

        </div>

        <script src="/js/bootstrap.js"></script>
        <script src="/js/jquery.min.js"></script>
    </body>

</html>
