<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/course.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <title>Tavoitemittari</title>
    </head>

    <body>
        <div class="container">
            <div class="row" th:if="${course != null}">
                
                <div class="center-block col-xs-8 col-sm-9 col-md-10 col-lg-11" th:each="goal : ${course.goals}">
                    <h1 th:text="${goal.grade}">4-10</h1>
                    <div class="panel panel-primary" th:each="skill : ${goal.skills}">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" th:href="'#' + ${skill.id}" th:text="${skill.name}">Ympyrä</a>
                            </h4>
                            <div class="clearfix">
                                <label class="checkbox-inline">
                                    <input type="checkbox">Osaan</input>
                                </label>
                            </div>
                        </div>
                        <div th:id="${skill.id}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>  <ul class="list-group">
                                        <div class=""
                                        <li class="list-group-item" th:each="exercise : ${skill.exercises}" 
                                            th:utext="${'Tähän tulis, joku kuvas skillistä' + '&lt;hr /&gt;' + '&lt;b &gt;' +'Tehtävät: '+ '&lt;/b&gt;' + exercise.description}"></li>
                                        <!-- <li class="list-group-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                                            sekä sektorin alasta</li>
                                        <li class="list-group-item">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</li>
                                        <li class="list-group-item"><b>Tehtävät:</b><p>112,113,115, Tee jotain etc.</p></li> -->
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>
                <!-- <div class="center-block col-xs-8 col-sm-9 col-md-10 col-lg-11">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 35%">
                            <span class="sr-only">35% Complete (success)</span>
                        </div>
                        <div class="progress-bar progress-bar-warning" style="width: 20%">
                            <span class="sr-only">20% Complete (warning)</span>
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: 10%">
                            <span class="sr-only">10% Complete (danger)</span>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

    </body></html>