<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Forgotten passwords</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/general.css"/>
        <link rel="stylesheet" type="text/css" href="/css/course-panel.css"/>
        <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css"/>
    </head>    
    <body>
        <div th:replace="fragments/components    :: course-navbar">navbar</div>

        <div class="row center-block col-xs-24 col-sm-10 col-md-8 col-lg-6">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><span>Unohdetut salasanat</span></h3>
                </div>
                <div th:if="${forgottenPasswords != null}">
                    <div class="panel-body">

                        <table id="students-table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nimi</th>
                                    <th>Sähköposti</th>
                                    <th>Rooli</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="forgottenPassword : ${forgottenPasswords}">
                                    <td><a th:text="${forgottenPassword.user.name}" th:href="@{'/student/' + ${forgottenPassword.user.id}}"></a></td>
                                    <td th:text="${forgottenPassword.user.email}"></td>
                                    <td th:text="${forgottenPassword.user.userRole}"></td>

                                    <td>
                                        <form th:action="@{'/admin/password/' + ${forgottenPassword.user.id}}">
                                            <button class="btn btn-sm btn-primary" type="submit">Uusi salasana</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:if="${forgottenPasswords == null}">
                    <div class="panel-body">
                        <p><b>Ei unohdettuja salasanoja!</b></p>
                        <p>Jos haluat uusia jonkin käyttäjän salasanan, niin hänen on itse ilmoitettava unohtamisesta kirjautumissivulla.
                            Käyttäjä ei automaattisesti saa ilmoitusta muutoksesta, ilmoitathan siitä hänelle.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>

</html>