<!DOCTYPE html>
<html lang="en"><head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/narrow.css"/>
        <title>Tavoitemittari</title>
    </head>

    <body>
        <div class="container">
            <div>
                <h1 class="text-center">Tavoitemittari</h1>
                <br/>
                <form>
                    <div class="form-group">
                        <label for="email">Sähköpostiosoite</label>
                        <input type="email" class="form-control" id="email" placeholder="Esim. matti.meikalainen@edu.hel.fi"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Salasana</label>
                        <input type="password" class="form-control" id="password" placeholder="Salasana"/>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"/> Muista minut
                        </label>
                    </div>
                    <button class="btn btn-primary btn-lg center-block" type="submit">Kirjaudu sisään</button>
                </form>
                <br/><br/>
                <p class="text-center">
                    Ei ole tunnusta? Ei hätää.
                </p>
                <form action="/register">
                <button class="btn btn-success round center-block" type="submit">Rekisteröidy!</button> 
                </form>
            </div>
        </div>
    </body></html>