<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kurssit</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/general.css"/>
        <link rel="stylesheet" type="text/css" href="css/course-panel.css"/>
        <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap.css"/>

    </head>

    <body>
        <div th:replace="fragments/components :: course-navbar">navbar</div>

        <div class="container" sec:authorize="hasRole('student')">
            <ul class="nav nav-tabs" id="mycoursesTab">
                <li class="active"><a data-toggle="tab" href="#owncourses" name="owncourses">Omat kurssit</a></li>
                <li><a data-toggle="tab" href="#allcourses" name="allcourses">Kaikki kurssit</a></li>
                <li><a data-toggle="tab" href="#completed" name="completed">Suoritukset</a></li>
            </ul>
            <div class="tab-content">
                <div id="owncourses" class="active tab-pane fade in active">
                    <br/>

                    <form class="form-group">
                        <label>Kurssihaku:</label>
                        <input class="form-control" id="ownsearch" type="text" placeholder="Hae nimeä, opettajaa tai luokkaa"/>
                    </form>
                    <div th:if="${joinedSuccessMessage != null}">
                        <br/>
                        <div class="alert alert-success" role="alert" th:text="${joinedSuccessMessage}">.</div>
                    </div>

                    <div th:if="${owncourses != null}">
                        <div class="row  center-block col-xs-12 col-sm-5 col-md-4 col-lg-3" th:each="course : ${owncourses}">
                            <div class="panel panel-primary">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> <span th:text="${course.name}">nimi</span></h3>
                                </div>
                                <div class="panel-body" style="max-height: 205px; min-height: 205px; overflow: hidden">
                                    <p th:text="${course.description}">Course description</p> 
                                </div>
                                <div class="panel-footer">
                                    <form th:method="GET" th:action="'course/' + ${course.id}">
                                        <a th:href="@{'course/' + ${course.id}}" class="btn btn-success" th:id="'tavoitemittari' + ${course.id}">Tavoitemittariin</a> <button class="btn btn-default" role="button">Lisätietoja</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div id="allcourses" class="tab-pane fade">
                    <br/>
                    <div th:if="${alreadyJoinedMessage != null}">
                        <br/>
                        <div class="alert alert-danger" role="alert" th:text="${alreadyJoinedMessage}">.</div>
                    </div>
                    <form class="form-group">
                        <label>Kurssihaku:</label>
                        <input class="form-control" id="allsearch" type="text" placeholder="Hae kurssia kurssin nimellä, opettajan nimellä tai luokallasi"/>
                    </form>

                    <br></br>


                    <!--List of courses found in database-->

                    <div th:if="${courses != null}">
                        <div class="row  center-block col-xs-12 col-sm-5 col-md-4 col-lg-3" th:each="course : ${courses}">
                            <div class="panel panel-primary">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> <span th:text="${course.name}">nimi</span></h3>
                                </div>
                                <div class="panel-body" style="max-height: 205px; min-height: 205px; overflow: hidden">
                                    <p>Opettaja: <b th:text="${course.teacher.name}">teacher</b> </p>
                                    <p th:text="${course.description}">Course description</p>
                                </div>
                                <div class="panel-footer">
                                    <form th:method="POST" th:action="@{'course/' + ${course.id} + '/join'}">
                                        <button class="btn btn-success" type="submit" th:id="'join' + ${course.id}">Liity kurssille!</button> <button class="btn btn-default" role="button">Lisätietoja</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div id="completed" class="tab-pane fade">
                    <div  th:if="!${#lists.isEmpty(completed)}">

                        <table  class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Kurssin nimi:</th>
                                    <th>Arvosanasi:</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="completedCourse : ${completed}">
                                    <td th:text="${completedCourse.courseName}"> </td>
                                    <td th:text="${completedCourse.grade}">  </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div th:if="${#lists.isEmpty(completed)}">Ei suorituksia</div>
                </div>
            </div>

        </div>

        <div sec:authorize="hasRole('teacher')">

            <div class="container">
                <br></br>
                <div th:if="${CourseHasNoStudentsMessage != null}">     
                    <div class="alert alert-danger" role="alert" th:text="${CourseHasNoStudentsMessage}">.</div>         
                </div>

                <div class="panel panel-primary">    

                    <div class="panel-heading">
                        <h3 class="panel-title"><span>Omat kurssini:</span></h3>
                    </div>


                    <div class="panel-body">
                        <table id="example" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Kurssin nimi:</th>
                                    <th>Oppilasmäärä:</th>
                                    <th>Tavoitemittarit:</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="course : ${teachersCourses}">
                                    <td th:text="${course.name}"> </td>
                                    <td th:text="${counts.get(course.id)}">  </td>
                                    <td> <a th:href="@{'course/' +${course.id}+ '/goalometer'}" class="btn btn-success" th:id="'goalometers' + ${course.id}">Tavoitemittareihin</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->

        <script src="js/jquery.dropotron.min.js"></script>

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/courses.js"></script>
        <script src="js/remembertabs.js"></script>
        <script type="text/javascript" charset="utf8" src="js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="js/dataTables.bootstrap.min.js"></script>
        <!--DataTables initialization-->
        <script type="text/javascript" charset="utf8" src="js/dataTables-language.js"></script>
    </body>
</html>
