<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/narrow.css"/>
        <title>Tavoitemittari</title>
    </head>
    <body>
        <div class="container">
            <div>
                <h1 class="text-center">Tavoitemittari</h1>
                <br/>

                <b th:if="${#fields.hasErrors('user')}" th:errors="*{user}">Error message</b>
                <br></br>

                <form th:action="@{/register}"  method="post">
                    <table>


                        <tr>
                            <td>Name</td>
                            <td><input type="text" name="name" class="form-control"  placeholder="nimi" /></td>
                            <td th:if="${#fields.hasErrors('user.name')}" th:errors="*{user.name}">Error message</td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td> <select name="userRole"  class="form-control">
                                    <option value="student">student</option>
                                    <option value="teacher">teacher</option>


                                </select>
                            </td>

                        </tr>

                        <tr>
                            <td>Email:</td>
                            <td><input type="text" name="email" class="form-control"  placeholder="email" /></td>
                            <td th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}">Error message</td>
                        </tr>

                        <tr>
                            <td>Email:</td>
                            <td><input type="text" name="confirmemail" class="form-control"  placeholder="email" /></td>

                        </tr>

                        <tr>
                            <td>Password:</td>
                            <td><input type="password" name="password" class="form-control"  placeholder="salasana" /></td>
                            <td th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}">Error message</td>
                        </tr>
                        <tr>


                            <td>Confirm pasword:</td>
                            <td><input type="password" name="confirmpassword" class="form-control"  placeholder="salasana" /></td>

                        </tr>




                        <tr>
                            <td>   <button class="btn btn-primary btn-lg center-block" type="submit">Rekisteröidy</button></td>


                        </tr>

                    </table>
                </form>
            </div>
        </div>
    </body>
</html>