<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Omat tiedot</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--[if lte IE 8]><link rel="stylesheet" th:href="@{/css/ie/v8.css}" /><![endif]-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/course-panel.css}"/>
    </head>
    <body>
        <div th:replace="fragments/components :: course-navbar">navbar</div>

            <div class=" container ">
                <div class="panel panel-primary">
                    <div class="panel-heading ">
                        <h3 class="panel-title"><span aria-hidden="true"></span> <span th:text="'Oppilas: ' + ${user.name}">Oppilas</span></h3>
                    </div>

                    <div class="panel-body">
                        <p>Sähköposti: <b th:text="${user.email}"></b></p>
                        <p>Käyttäjätaso: <b th:text="${user.userRole}"></b></p>
                        <p>Luokka: <b th:text="${user.schoolClass}"></b></p>
                        <br/>
                        <table>
                            <tr><td>Kurssit</td></tr>
                            <tr th:each="course : ${courses}">
                                <th><a th:text="${course.name}" th:href="@{'/course/' +${course.id}+ '/' + ${user.id}}"></a></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        <!--[if lte IE 8]><script th:src="@{/css/ie/html5shiv.js}"></script><![endif]-->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.js}"></script>
        <script th:src="@{/js/jquery.dropotron.min.js}"></script>
    </body>
</html>