<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Oppilaat</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--[if lte IE 8]><link rel="stylesheet" th:href="@{/css/ie/v8.css}" /><![endif]-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/course-panel.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}"/>
    </head>
    <body>
        <div th:replace="fragments/components    :: course-navbar">navbar</div>
        <div class ="container">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><span>Oppilaat</span></h3>
                </div>
                <div class="panel-body">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Rajaa listausta kurssikohtaisesti
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a th:text="${'Kaikki oppilaat'}" th:href="@{'/student'}"></a></li>
                            <li th:each="course : ${courses}"><a th:text="${course.name}" th:href="@{'/student/filter/' +${course.id}}"></a></li>
                        </ul>
                    </div>
                    <br/>

                    <table id="example" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nimi</th>
                                <th>Sähköposti</th>
                                <th>Luokka</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="student : ${students}">
                                <td><a th:text="${student.name}" th:href="@{'/student/' + ${student.id}}"></a></td>
                                <td th:text="${student.email}"></td>
                                <td th:text="${student.schoolClass}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--[if lte IE 8]><script th:src="@{/css/ie/html5shiv.js}"></script><![endif]-->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" charset="utf8" th:src="@{/js/jquery.dataTables.min.js}"></script>
        <script type="text/javascript" charset="utf8" th:src="@{/js/dataTables.bootstrap.min.js}"></script>
        <!--DataTables initialization-->
        <script type="text/javascript" charset="utf8" th:src="@{/js/dataTables-language.js}"></script>
    </body>

</html>