<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Students</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/general.css"/>
        <link rel="stylesheet" type="text/css" href="/css/course-panel.css"/>
        <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css"/>
        <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
        <script src="/js/bootstrap.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.dropotron.min.js"></script>
        <script src="/js/init.js"></script>
        <script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" charset="utf8">
            $(document).ready( function () {
                $('#example').DataTable( {
                    "language": {
                        "lengthMenu": "Näytä _MENU_ oppilasta per sivu",
                        "zeroRecords": "Mitään ei löytynyt",
                        "info": "Sivu _PAGE_ / _PAGES_",
                        "infoEmpty": "Haku ei vastaa taulun sisältöä",
                        "infoFiltered": "(haku rajattu _MAX_ oppilaasta)",
                        "search": "Haku",
                        "paginate": {
                            "first": "Ensimmäinen",
                            "last": "Viimeinen",
                            "next": "Seuraava",
                            "previous": "Edellinen"
                        }
                    }
                } );
            } );
        </script>
    </head>
<body>
    <div th:replace="fragments/components :: course-navbar">navbar</div>

    <div class="row center-block col-xs-24 col-sm-10 col-md-8 col-lg-6">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span>Oppilaat</span></h3>
            </div>
            <div class="panel-body">
                <table id="example" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nimi</th>
                        <th>Sähköposti</th>
                        <th>Rooli</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.userRole}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>